.container {
    width: 800px;
    padding-top: 24px;
}

#day {
    margin-bottom: 24px;
}

.task-item-done {
    text-decoration: line-through;
    color: darkgreen;
}

.task-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.type1 span:before{
    content: 'o';
    color: red;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8px;
}

.type2 span:before{
    content: 'o';
    color: dodgerblue;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8px;
}