.container {
    width: 800px;
    padding-top: 24px;
}

#day {
    margin-bottom: 24px;
}

.task-item-done {
    text-decoration: line-through;
    color: rgb(210, 210, 210);
}

.task-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.task-icon {
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.type1 > .glyphicon{
    color: darkred;
}

.type2 > .glyphicon{
    color: darkgray;
}

.type3 > .glyphicon{
    color: transparent;
}

/*.task-item .list-item-data:before{
    display: inline-block;
    content: "<span class='glyphicon glyphicon-fire'></span>";
    width: 20px;
    height: 20px;
    color: red;
    margin: 0 8px 0 0;
}

.type1 .list-item-data:before{
    content: 'o';
    color: red;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8px;
}

.type2 .list-item-data:before{
    content: 'o';
    color: dodgerblue;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8px;
}

.type3 .list-item-data:before{
    content: 'o';
    color: dodgerblue;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 8px;
}*/

.list-item-buttons {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 24px;
    background-color: #f5f5f5;
}

.jumbotron {
    margin-top: 55px;
}

.delete-task {
    margin-left: 16px !important;
}

.cancel-edit, #cancel {
    float: right;
    margin-right: 10%;
}

#taskForm {
    width: 100%;
    margin-bottom: 12px;
}

.list-group-item {
    background-color:rgba(255, 255, 255, 0.5);
}

.ui-sortable-helper {
    border: 0px solid white;
    background-color: rgba(150, 255, 203, 0.51)
}

#task-container {
    background-color: white;
}

.edit-task-form, #taskForm {
    padding: 10px 0 0 10% ;
}

.edit-task-form > form, #taskForm > form {
    margin-bottom: 8px;
}

input[type="text"], textarea {
    width: 90%;
}

textarea {
    height: 120px;
}

input, select, textarea {
    margin-top: 8px;
}

#datepicker {
    margin-left: 50%;
}

#ui-datepicker-div {
    background-color: #ffffff;
    border: 1px solid darkgray;
    cursor: default;
}

#task-date:hover {
    text-decoration-style: dotted;
    text-decoration: underline;
}

.navbar-brand {
    cursor: default;
}

.top-add {
    margin-bottom: 22px;
}

.help {
    position: fixed;
    height: 100%;
    width: 100%;
    /*background-color: black;
    opacity: 0.6;*/
    z-index: 100;
    padding: 10%;
}

.help-content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-left: 5%;
    z-index: 1000;
    transform: translate3d(0,0,0);
    border: 1px solid black;
}

.overlay{position:fixed; width:100%; height:100%; left:0; top:0; z-index:9999; background: url("/images/ajax-loader.gif") no-repeat 50% 50%;}

.loading, .error, .error span:hover { color: #777 !important; cursor: default; }

.task-name {
    font-size: larger;
}

ul .subtasks {
    padding-left: 50px;
    list-style: none;
}

ul .subtasks li {
    margin-top: 4px;
}

.navbar-brand .glyphicon {
    color: #777;
}

.navbar-brand .glyphicon:hover {
    color: #555;
}