{% extends "LeaderITTaskBundle:Default:layout.html.twig" %}

{% block date %}
 {% if date %}
     на <span id="task-date">{{ date|date("d.m.Y") }}</span>
 {% endif %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var date = {{ date|date("dmY") }};
        var dayData = {{ render(controller('LeaderITTaskBundle:Day:get', { 'day': date|date("dmY") })) }};

    </script>

    <div id="day">
        <ul id="task-container" class="list-group">
            <li id="add-task-item" class="list-group-item">
                <span id="addTask" class="glyphicon glyphicon-plus"></span>

                <span id="taskForm" hidden="hidden">{{ form(form) }}
                    <button id="send" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button id="cancel" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    </span>
            </li>
        </ul>
    </div>


{% endblock %}

 {% block footer %}
     <p class="text-muted"></p>
 {% endblock %}