{% extends "LeaderITTaskBundle:Default:layout.html.twig" %}

{% block content %}
    <script type="text/javascript">
        var dayData =
        {{ render(controller('LeaderITTaskBundle:Day:get')) }}
    </script>

    <div id="day">
        <ul id="task-container" class="list-group">
            <li id="add-task-item" class="list-group-item">
                <span id="addTask" class="glyphicon glyphicon-plus"></span>
                <span id="taskForm" hidden="hidden">{{ form(form) }}
                    <button id="send" type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    </span>
            </li>
        </ul>
    </div>


{% endblock %}