{% extends "LeaderITTaskBundle:Default:layout.html.twig" %}

{% block content %}
    <script type="text/javascript">
        var dayData = {{ render(controller('LeaderITTaskBundle:Day:get')) }}
    </script>

    <div id="day">
        <ul></ul>
    </div>

    {{ form(form) }}
    <input id="send" type="button" value="send" class="btn">
{% endblock %}